body {
    background-color: hsl(30, 38%, 92%);
}

img {
    width: 50%;
}

.btn {
    width: 30%;
    margin-left: 30px;
    margin-top: 0px;
}

.outer-container {
    display: flex;
    flex-direction: row;
    background-color: white;
    max-width: 640px;
    margin: 100px auto 0 auto;
    border-radius: 10px;
    overflow: hidden;
}

.inner-container {
    display: flex;
    flex-direction: column;
}

.link {
    text-align: center;
}

.perfume {
    font-family: 'Montserrat', sans-serif;
    color: hsl(228, 12%, 48%);
    margin-top: 30px;
    margin-left: 30px;
}

.price {
    margin-left: 30px;
    margin-top: 10px;
    margin-bottom: 25px;
    font-family: 'Fraunces', serif;
    color: hsl(158, 36%, 37%);
    font-size: 2rem;
}

.gab {
    margin-left: 30px;
    margin-top: 0px;
    font-family: 'Fraunces', serif;
    padding-right: 70px;
}

.floral {
    margin-left: 30px;
    font-family: 'Montserrat', sans-serif;
    color: hsl(228, 12%, 48%);
    line-height: 1.5;
    padding-right: 50px;
}

.discount {
    margin-left: 20px;
    margin-top: 20px;
    text-decoration: line-through;
    font-family: 'Montserrat', sans-serif;
    color: hsl(228, 12%, 48%);
} 

.costs {
    display: flex;
    flex-direction: row;
}

.carticon {
    height: 15px;
    width: 15px;
    margin-right: 10px;
}



.btn {
    background: hsl(158, 36%, 37%);
    background-image: -webkit-linear-gradient(top, hsl(158, 36%, 37%), #2980b9hsl(158, 36%, 37%));
    background-image: -moz-linear-gradient(top, hsl(158, 36%, 37%), #2980b9hsl(158, 36%, 37%));
    background-image: -ms-linear-gradient(top, hsl(158, 36%, 37%), #2980b9hsl(158, 36%, 37%));
    background-image: -o-linear-gradient(top, hsl(158, 36%, 37%), #2980b9hsl(158, 36%, 37%));
    background-image: linear-gradient(to bottom, hsl(158, 36%, 37%), #2980b9hsl(158, 36%, 37%));
    -webkit-border-radius: 11;
    -moz-border-radius: 11;
    border-radius: 8px;
    font-family: 'montserrat', sans-serif;
    color: #ffffff;
    font-size: 14px;
    padding: 13px 80px 13px 80px;
    border: solid #1f628d 0px;
    text-decoration: none;
    top: 34rem;
    left: 48rem;
  }
  
  .btn:hover {
    background-color: black;
  }


/*****Phone*****/

  @media (max-width: 655px) {
    .outer-container {
        flex-direction: column;
    }

    img {
        width: 100%;
        max-height: 40rem;
    }

    .btn {
        text-align: center;
        width: 40%;
        margin: 0 auto 40px auto;
    }

    .carticon {
        align-items: center;
    }
}
